h1{
    text-align: center;
    color: rgb(45, 45, 54);
    font-size: 8vmin;
    
}
*{
    margin: 0;
    padding: 0;

}
body{
    background-color:#548687 ;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin ;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.7);
    font-size: 8vmin;
    color: rgb(201, 24, 162);
    background-color: #ffffc7;
}

.resetbtn{
  padding: 1rem; 
  background-color: #000909;
  color: rgb(249, 249, 249);
  font-size: 2.25vmin;
  border-radius: 10px;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.7);
}
#new-btn{
  padding: 1rem; 
  background-color: #000909;
  color: rgb(249, 249, 249);
  font-size: 2.25vmin;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 1rem rgba(0,0,0,0.7);
}

#msg{
    color: rgb(70, 227, 227);
    font-size: 8vmin;

    
}
.msg-container{
 
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}
.hide{
    display: none;
}
